In [42]:
### This cell imports data

import pandas as pd
import pandas_datareader.data as web   # Package and modules for importing data; this code may change depending on pandas version
import datetime
 
# We will look at stock prices over the past year, starting at January 1, 2016
start = datetime.datetime(2016,1,1)
end = datetime.date.today()
 
# Let's get Apple stock data; Apple's ticker symbol is AAPL
# First argument is the series we want, second is the source ("yahoo" for Yahoo! Finance), third is the start date, fourth is the end date
EURAUD =  web.DataReader('EURAUD=X', 'yahoo', start, end)
 
type(AUDGBP)

pandas.core.frame.DataFrame

In [41]:
EURAUD

                Open      High       Low     Close  Adj Close  Volume
Date
2015-12-31  1.501685  1.492336  1.493284  1.500908   1.500908     NaN
2016-01-01  1.493338  1.493338  1.494425  1.493338   1.493338     NaN
2016-01-04  1.489856  1.507437  1.500915  1.489493   1.489493     NaN
2016-01-05  1.507091  1.501502  1.502244  1.506762   1.506762     NaN
2016-01-06  1.501301  1.519093  1.501729  1.501086   1.501086     NaN
2016-01-07  1.522278  1.543053  1.534494  1.522426   1.522426     NaN
2016-01-08  1.557214  1.550084  1.545027  1.556842   1.556842     NaN
2016-01-11  1.576092  1.563882  1.555967  1.575838   1.575838     NaN
2016-01-12  1.553697  1.558764  1.552227  1.553997   1.553997     NaN
2016-01-13  1.552208  1.547311  1.544004  1.551991   1.551991     NaN
2016-01-14  1.569618  1.568547  1.570121  1.569545   1.569545     NaN
2016-01-15  1.551357  1.581216  1.569108  1.551960   1.551960     NaN
2016-01-18  1.591889  1.586808  1.577648  1.591591   1.591591     NaN
2016-01-19  1.584682  1.587481  1.567768  1.583810   1.583810     NaN
2016-01-20  1.578574  1.594392  1.587897  1.577690   1.577690     NaN
2016-01-21  1.566507  1.567487  1.569929  1.567922   1.567922     NaN
2016-01-22  1.547902  1.544690  1.541819  1.548162   1.548162     NaN
2016-01-25  1.542316  1.548332  1.543630  1.541830   1.541830     NaN
2016-01-26  1.563701  1.562842  1.552684  1.564033   1.564033     NaN
2016-01-27  1.550404  1.551009  1.543394  1.550538   1.550538     NaN
2016-01-28  1.554591  1.550606  1.536614  1.554714   1.554714     NaN
2016-01-29  1.543863  1.529732  1.532820  1.543425   1.543425     NaN
2016-02-01  1.531050  1.536896  1.538592  1.531541   1.531541     NaN
2016-02-02  1.533155  1.547236  1.534225  1.532485   1.532485     NaN
2016-02-03  1.554097  1.556614  1.558564  1.553660   1.553660     NaN
2016-02-04  1.549332  1.546537  1.551518  1.550192   1.550192     NaN
2016-02-05  1.555563  1.567399  1.555132  1.555675   1.555675     NaN
2016-02-08  1.573069  1.572167  1.569398  1.572788   1.572788     NaN
2016-02-09  1.581056  1.600137  1.597423  1.580673   1.580673     NaN
2016-02-10  1.597760  1.586176  1.587221  1.597534   1.597534     NaN
...              ...       ...       ...       ...        ...     ...
2017-12-18  1.532974  1.537367  1.537870  1.534884   1.534884     NaN
2017-12-19  1.537369  1.540201  1.539936  1.537256   1.537256     NaN
2017-12-20  1.546828  1.545913  1.549182  1.547188   1.547188     NaN
2017-12-21  1.548194  1.548153  1.543584  1.548202   1.548202     NaN
2017-12-22  1.537978  1.534011  1.535888  1.538370   1.538370     NaN
2017-12-25  1.538115  1.536465  1.531852  1.536783   1.536783     NaN
2017-12-26  1.536736  1.535910  1.537000  1.536781   1.536781     NaN
2017-12-27  1.534314  1.533646  1.531682  1.533925   1.533925     NaN
2017-12-28  1.530488  1.530352  1.530479  1.530680   1.530680     NaN
2017-12-29  1.531766  1.532483  1.536279  1.532111   1.532111     NaN
2018-01-01  1.538609  1.538037  1.537445  1.538674   1.538674     NaN
2018-01-02  1.539792  1.539496  1.539716  1.539740   1.539740     NaN
2018-01-03  1.539955  1.537954  1.538192  1.539900   1.539900     NaN
2018-01-04  1.534202  1.536069  1.537860  1.534212   1.534212     NaN
2018-01-05  1.534377  1.534165  1.535347  1.534734   1.534734     NaN
2018-01-08  1.530057  1.527735  1.530256  1.531285   1.531285     NaN
2018-01-09  1.525765  1.526321  1.522682  1.525276   1.525276     NaN
2018-01-10  1.527145  1.526955  1.527517  1.527312   1.527312     NaN
2018-01-11  1.523479  1.521941  1.528990  1.523595   1.523595     NaN
2018-01-12  1.527059  1.534191  1.538128  1.527059   1.527059     NaN
2018-01-15  1.541992  1.541312  1.541434  1.541594   1.541594     NaN
2018-01-16  1.541350  1.536547  1.539576  1.540694   1.540694     NaN
2018-01-17  1.539207  1.536164  1.540384  1.539434   1.539434     NaN
2018-01-18  1.528103  1.532842  1.531472  1.528249   1.528249     NaN
2018-01-19  1.528161  1.528687  1.529231  1.528475   1.528475     NaN
2018-01-22  1.529856  1.530775  1.527808  1.531533   1.531533     NaN
2018-01-23  1.530594  1.536212  1.532590  1.530438   1.530438     NaN
2018-01-24  1.537969  1.537998  1.534375  1.537922   1.537922     NaN
2018-01-25  1.539649  1.538466  1.543059  1.539472   1.539472     NaN
2018-01-26  1.546119  1.545668  1.544066  1.544112   1.544112     0.0

[539 rows x 6 columns]